<form (ngSubmit)="onSubmitClick()" #formContainer="ngForm">
  <!-- This is the input for the title of the Task -->
  <input
    type="text"
    name="title"
    placeholder="Enter the Title"
    [(ngModel)]="taskInput.title"
    required
    #title="ngModel"
  />

  <!-- This is the input for the description of the task -->
  <textarea
    type="text"
    name="description"
    placeholder="Enter the Description"
    [(ngModel)]="taskInput.description"
    required
    #description="ngModel"
  ></textarea>

  <!-- This is the input for the status of the task -->
  <div class="row-container center">
    <!-- Status Radio Option -->
    <label>
      <!-- Option To Do -->
      <input
        type="radio"
        name="status"
        value="To Do"
        [(ngModel)]="taskInput.status"
      />
      To Do
    </label>

    <!-- Option In - Progress -->
    <label>
      <input
        type="radio"
        name="status"
        value="In - Progress"
        [(ngModel)]="taskInput.status"
      />
      In - Progress
    </label>

    <!-- Option Done -->
    <label>
      <input
        type="radio"
        name="status"
        value="Done"
        [(ngModel)]="taskInput.status"
      />
      Done
    </label>
  </div>

  <!-- Error Text if the required fileds are not provided -->
  <p
    class="error-text"
    *ngIf="
      (!title.valid && title.touched) ||
      (!description.valid && description.touched)
    "
  >
    The Text fields need to be filled
  </p>

  <!-- This button submits the form -->
  <button class="secondary-btn" type="submit" [disabled]="!formContainer.valid">
    {{ isEditMode ? "Edit Task" : "Add Task" }}
  </button>
</form>
