<div id="outer-container">
  <!-- Container centering the cards -->
  <div class="col-container center" *ngFor="let task of taskList">
    <!-- Horizontal Line between them -->
    <hr />

    <!-- Each Task Item Component -->
    <div
      class="card-container full-width"
      [status]="task.status"
      appStatusHighlight
    >
      <h2>{{ task.title }}</h2>
      <p>Description : {{ task.description }}</p>
      <p>Status : {{ task.status }}</p>

      <!-- This buttons takes you to the task details page -->
      <div class="row-container">
        <button class="secondary-btn" (click)="onDetailsClick(task.id)">
          Show Details
        </button>

        <button class="destructive-btn" (click)="onEditClick(task.id)">
          Edit Task
        </button>
      </div>
    </div>
  </div>
</div>
